.friendMessage {
    align-items: flex-end;
    margin: 10px;
}

.friendImageAndText {
    display: flex;
}

.friendImageAndText img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.friendText {
    padding: 10px;
    border-radius: 5px 5px 5px 0;
    background-color: rgb(202, 206, 208);

}

.friendText:after {

}

.friendName {
    font-size: 100%;
    font-weight: 700;
}

.friendMessageText {
    margin-top: 10px;
    font-size: 120%;
}

.friendTime {
    color: rgba(0, 0, 0, 0.95);
    font-size: 80%;
    font-weight: 900;
    margin-left: 5px;
}
