.button {
    margin-left: 20px;
    padding: 0 5px;
    border-radius: 3px;
    width: 132px;
    height: 30px;
}

.disabled {
    background: rgba(0, 77, 153, 1);
    opacity: 50%;
    width: 133px;
    height: 30px;
}

.secondary {
    background-color: #fff;
    border: 1px solid rgba(0, 102, 204, 1)
}

.default {
    background: rgba(0, 102, 204, 1);
    width: 167px;
    height: 30px;
}

.red {
    background: rgba(204, 20, 57, 1);
}

.default:hover {
    width: 167px;
    height: 30px;
    background: rgba(0, 128, 255, 1);
}

.red:hover {
    width: 167px;
    height: 30px;
    background: rgb(224, 88, 116);
}

.secondary:hover {
    background-color: #88b8ec;
}


.default:active {
    background: rgb(9, 62, 117);
}

.secondary:active {
}

.red:active {
    background: rgb(103, 4, 25);
}

.button:disabled {
    background: rgb(136, 141, 147);
}
